<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="5d73121e-d42b-4545-a503-8b622e22e837" Version="1.0.0.0" Language="1033" Name="STI Test Report" Manufacturer="Philips">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="STITestReport.cab" EmbedCab="yes" />

        <!-- Step 1: Define the directory structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
              <Directory Id="APPLICATIONCompanyDIRECTORY" Name="Philips">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="STI Test Report">
                  <Directory Id="APPLICATIONDEDIRECTORY" Name="de"/>
                </Directory>
              </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
              <Directory Id="ProgramMenuCompanyFolder" Name="Philips">
                <Directory Id="ApplicationProgramsFolder" Name="STI Test Report"/>
              </Directory>
            </Directory>

            <Directory Id="CommonAppDataFolder">
              <Directory Id="CommonAppDataCompanyFolder" Name="Philips">
                <Directory Id="CommonAppDataFolderApp" Name="STI Test Report"/>
              </Directory>
            </Directory>

        </Directory>

        <!-- Step 2: Add files to your installer package -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
          <Component Id="comp0000" Guid="c4bfdc40-4df0-41a0-896a-ab7a4cf23972">
                <File Id="file0000" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\ICSharpCode.SharpZipLib.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0001" Guid="7e9424ce-c4c8-4368-85bf-6524c1b70f75">
                <File Id="file0001" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\Newtonsoft.Json.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0002" Guid="ea8059ee-04bc-4794-98dd-d0704e7a5549">
                <File Id="file0002" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\PdfSharpCore.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0003" Guid="d1b72709-e5b5-4482-a6c6-fe24b89ed2b3">
                <File Id="file0003" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\ReadMe.txt" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0004" Guid="c727dade-5ea7-49c1-9707-27a0df2e39f8">
                <File Id="file0004" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\SixLabors.Fonts.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0005" Guid="76223e7c-9582-487f-ae34-4a63c1c8ea86">
                <File Id="file0005" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\SixLabors.ImageSharp.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0006" Guid="fef2368e-c406-487f-8083-f28180566666">
                <File Id="file0006" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\SQLiteConnector.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0008" Guid="1eaba3a1-1f29-435b-9dc4-78c682316f6b">
                <File Id="file0008" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\STI Test Report.deps.json" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0009" Guid="75ac24e3-e435-470c-bdcf-3dbcec8ed35c">
                <File Id="file0009" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\STI Test Report.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0010" Guid="4dd22ca5-8bfd-4ff3-a161-afbf7586235b">
                <File Id="file0010" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\STI Test Report.exe" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0012" Guid="1669e817-d5ad-481e-98a8-e4395d0a5970">
                <File Id="file0012" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\STI Test Report.runtimeconfig.json" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0013" Guid="26c8d61d-504e-4a32-8e23-b2f67b68b325">
                <File Id="file0013" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\System.Data.SQLite.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0014" Guid="f4283a01-40c0-4257-871b-bf46681f0512">
                <File Id="file0014" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\Template.db" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0015" Guid="ea8991aa-6bc5-440e-8a33-143eb940169e">
                <File Id="file0015" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\runtimes\win-x64\native\SQLite.Interop.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0016" Guid="87ea940e-6d94-44b8-8c86-c020745177a2">
                <File Id="file0016" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\Microsoft.Windows.SDK.NET.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
          <Component Id="comp0017" Guid="9aaf00dB-8186-4ef1-93b2-3fb7103c171d">
                <File Id="file0017" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\WinRT.Runtime.dll" KeyPath="yes" Checksum="yes"/>
          </Component>


        </DirectoryRef>

        <DirectoryRef Id="APPLICATIONDEDIRECTORY">
          <Component Id="comp0200" Guid="dad5ba60-7ec3-4d32-b858-294c8a40c079">
                <File Id="file0200" Source="..\STI Test Report\bin\Release\net6.0-windows10.0.17763.0\de\PdfSharpCore.resources.dll" KeyPath="yes" Checksum="yes"/>
          </Component>
        </DirectoryRef>


       <!-- Step 3: Add the shortcut to your installer package -->
        <DirectoryRef Id="ApplicationProgramsFolder">
          <Component Id="ApplicationShortcut" Guid="de9abd67-7eef-4143-bf4c-6004952782bb">
            <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="STI Test Report"
                  Description="Creates test reports for Azure DevOps"
                  Target="[#file0010]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
              <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
              <RemoveFolder Id="RemoveProgramMenuCompanyFolder" Directory="ProgramMenuCompanyFolder" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\Philips\STI Test Report" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </DirectoryRef>

        <!-- Step 4: Tell WiX to install the files -->
        <Feature Id="MainApplication" Title="STI Test Report" Level="1">
            <ComponentRef Id="comp0000" />
            <ComponentRef Id="comp0001" />
            <ComponentRef Id="comp0002" />
            <ComponentRef Id="comp0003" />
            <ComponentRef Id="comp0004" />
            <ComponentRef Id="comp0005" />
            <ComponentRef Id="comp0006" />
            <ComponentRef Id="comp0008" />
            <ComponentRef Id="comp0009" />
            <ComponentRef Id="comp0010" />
            <ComponentRef Id="comp0012" />
            <ComponentRef Id="comp0013" />
            <ComponentRef Id="comp0014" />
            <ComponentRef Id="comp0015" />
            <ComponentRef Id="comp0016" />
            <ComponentRef Id="comp0017" />

            <ComponentRef Id="comp0200" />

             <!-- Step 5: Tell WiX to install the shortcut -->
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>
    </Product>
</Wix>
